@font-face {
  font-family: "PreBold";
  src: url("../fonts/Pretendard-Bold.otf") format("opentype");
}

@font-face {
  font-family: "PreRegular";
  src: url("../fonts/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PreLight";
  src: url("../fonts/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "PreMedium";
  src: url("../fonts/Pretendard-Medium.otf") format("opentype");
}

@font-face {
  font-family: "PreExBold";
  src: url("../fonts/Pretendard-ExtraBold.otf") format("opentype");
}
