.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px;
  background-color: #f1f1f1;
}

.flexItme {
  display: flex;
  pointer-events: auto;
}

.box {
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 (rgb(136, 136, 136));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  &:active {
    background-color: #40abfd;
    color: white;
  }
  transition: background-color 200ms ease;
}
